{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Demeter API",
    "description": "The first version of the Demeter API.\n"
  },
  "host": "demeter.com",
  "basePath": "/rest",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Get all machines list",
        "responses": {
          "200": {
            "description": "The list with all machines",
            "schema": {
              "$ref": "#/definitions/Cmls"
            }
          }
        }
      }
    },
    "/{cmlId}/demeter": {
      "get": {
        "description": "Get information about a device",
        "operationId": "getDemeter",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The user object",
            "schema": {
              "$ref": "#/definitions/Demeter"
            }
          }
        }
      },
      "post": {
        "description": "Switch digital outputs ON/OFF",
        "operationId": "postActuators",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DigitalOutputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user object for change digital output values",
            "schema": {
              "$ref": "#/definitions/DigitalOutputs"
            }
          }
        }
      }
    },
    "/{cmlId}/fsm": {
      "get": {
        "description": "Get state machines list",
        "operationId": "getFsm",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The user object for change digital output values",
            "schema": {
              "$ref": "#/definitions/StateMachines"
            }
          }
        }
      },
      "post": {
        "description": "schedule task for excution",
        "operationId": "triggerFsmEvent",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/TriggerEvent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current list of scheduled events",
            "schema": {
              "$ref": "#/definitions/StateMachines"
            }
          }
        }
      }
    },
    "/{cmlId}/schedule": {
      "get": {
        "description": "Get information about scheduled events",
        "operationId": "getSchedule",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The info object list schduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          }
        }
      },
      "post": {
        "description": "schedule task for excution",
        "operationId": "postSchedule",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current list of scheduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          }
        }
      }
    },
    "/{cmlId}/exception": {
      "get": {
        "description": "Get information about scheduled events",
        "operationId": "getScheduleException",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The info object list schduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledExceptions"
            }
          }
        }
      },
      "post": {
        "description": "schedule task for excution",
        "operationId": "postScheduleException",
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "ID of cml",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ScheduledException"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The info object list schduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledException"
            }
          }
        }
      }
    },
    "/{cmlId}/exception/{exceptionId}": {
      "delete": {
        "summary": "Deletes a task",
        "description": "",
        "operationId": "deleteScheduleException",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cmlId",
            "in": "path",
            "description": "Task id to delete",
            "required": true,
            "type": "string"
          },
          {
            "name": "exceptionId",
            "in": "path",
            "description": "Task id to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "The info object list scheduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledExceptions"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Cmls": {
      "type": "object",
      "properties": {
        "cmls": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cml"
          }
        }
      }
    },
    "Cml": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "demeter": {
          "$ref": "#/definitions/Demeter"
        }
      }
    },
    "Demeter": {
      "type": "object",
      "properties": {
        "versions": {
          "$ref": "#/definitions/Versions"
        },
        "network": {
          "$ref": "#/definitions/Network"
        },
        "relays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relay"
          }
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Input"
          }
        }
      }
    },
    "DigitalOutputs": {
      "type": "object",
      "properties": {
        "relays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relay"
          }
        }
      }
    },
    "Relay": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Input": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "StateMachines": {
      "description": "List of all state machines",
      "properties": {
        "branches": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StateMachine"
          }
        },
        "commnads": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "StateMachine": {
      "type": "object",
      "properties": {
        "branch": {
          "type": "string"
        },
        "state": {
          "type": "string"
        }
      }
    },
    "TriggerEvent": {
      "type": "object",
      "properties": {
        "fsm": {
          "type": "string"
        },
        "command": {
          "type": "string"
        }
      }
    },
    "ScheduledEvents": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScheduledEvent"
      }
    },
    "ScheduledExceptions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScheduledException"
      }
    },
    "ScheduledException": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
        "time": {
          "type": "string"
        },
        "command": {
          "type": "string"
        },
        "fsm": {
          "type": "string"
        }
      }
    },
    "ScheduledEvent": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "time": {
          "$ref": "#/definitions/DayTime"
        },
        "command": {
          "type": "string"
        },
        "fsm": {
          "type": "string"
        }
      }
    },
    "Versions": {
      "type": "object",
      "properties": {
        "hw": {
          "type": "string"
        },
        "sw": {
          "type": "string"
        },
        "sha1": {
          "type": "string"
        },
        "build": {
          "type": "string"
        }
      }
    },
    "Network": {
      "type": "object",
      "properties": {
        "mac": {
          "type": "string"
        },
        "ipv4": {
          "type": "string"
        },
        "ipv6": {
          "type": "string"
        }
      }
    },
    "DayTime": {
      "type": "object",
      "properties": {
        "hour": {
          "type": "integer"
        },
        "minute": {
          "type": "integer"
        },
        "second": {
          "type": "integer"
        }
      }
    }
  }
}