{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Demeter API",
    "description": "The first version of the Demeter API.\n"
  },
  "host": "demeter.com",
  "basePath": "/demeter",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "paths": {
    "/demeter": {
      "get": {
        "description": "Get information about a device",
        "responses": {
          "200": {
            "description": "The user object",
            "schema": {
              "$ref": "#/definitions/Demeter"
            }
          }
        }
      },
      "post": {
        "description": "Switch digital outputs ON/OFF",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DigitalOutputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user object for change digital output values",
            "schema": {
              "$ref": "#/definitions/DigitalOutputs"
            }
          }
        }
      }
    },
    "/statemachines": {
      "get": {
        "description": "Get state machines list",
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/StateMachines"
            }
          }
        }
      }
    },
    "/statemachines/{id}": {
      "get": {
        "description": "Get information about a state machine",
        "responses": {
          "200": {
            "description": "The info object about the current status of FSM. List also all possible commands.",
            "schema": {
              "$ref": "#/definitions/StateMachine"
            }
          }
        }
      }
    },
    "/schedule": {
      "get": {
        "description": "Get information about scheduled events",
        "responses": {
          "200": {
            "description": "The info object list schduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          }
        }
      },
      "post": {
        "description": "schedule task for excution",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current list of scheduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          }
        }
      }
    },
    "/config": {
      "get": {
        "description": "Get configuration parameters",
        "responses": {
          "200": {
            "description": "The info object about the current configuration parameters",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        }
      },
      "post": {
        "description": "new configuration parameters",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "current configuration values",
            "schema": {
              "$ref": "#/definitions/Configuration"
            }
          }
        }
      }
    },
    "/schedule/{scheduleId}": {
      "get": {
        "tags": [
          "schedule"
        ],
        "summary": "Find schedule by ID",
        "description": "Returns a single task",
        "operationId": "getScheduleById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "description": "ID of task",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Task"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Task not found"
          }
        }
      },
      "delete": {
        "tags": [
          "schedule"
        ],
        "summary": "Deletes a task",
        "description": "",
        "operationId": "deleteTask",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "description": "Task id to delete",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "The info object list scheduled events",
            "schema": {
              "$ref": "#/definitions/ScheduledEvents"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Task not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Demeter": {
      "type": "object",
      "properties": {
        "relays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relay"
          }
        },
        "inputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Input"
          }
        }
      }
    },
    "DigitalOutputs": {
      "type": "object",
      "properties": {
        "relays": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Relay"
          }
        }
      }
    },
    "Relay": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Input": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "StateMachines": {
      "description": "List of all state machines",
      "type": "array",
      "items": {
        "$ref": "#/definitions/StateMachine"
      }
    },
    "StateMachine": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "commnads": {
          "description": "List of all commnads (can be also commnad enable in current state)",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TriggerEvent": {
      "type": "object",
      "properties": {
        "fsm": {
          "type": "string"
        },
        "command": {
          "type": "string"
        }
      }
    },
    "ScheduledEvents": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/ScheduledEvent"
      }
    },
    "ScheduledEvent": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "time": {
          "type": "string",
          "format": "date-time"
        },
        "command": {
          "type": "string"
        },
        "fsm": {
          "type": "string"
        }
      }
    },
    "Task": {
      "type": "object",
      "properties": {
        "time": {
          "type": "string",
          "format": "date-time"
        },
        "fsm": {
          "type": "string"
        },
        "command": {
          "type": "string"
        }
      }
    },
    "Reminders": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Reminder"
      }
    },
    "Reminder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "timestamp": {
          "type": "integer",
          "format": "int64"
        },
        "jobId": {
          "type": "integer",
          "format": "int64"
        },
        "jobName": {
          "type": "string"
        }
      }
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "fillingTime": {
          "$ref": "#/definitions/DayTime"
        },
        "irrigatingTimeMorning": {
          "$ref": "#/definitions/DayTime"
        },
        "irrigatingTimeEvening": {
          "$ref": "#/definitions/DayTime"
        },
        "valve": {
          "type": "integer"
        },
        "fillingDuration": {
          "type": "integer"
        },
        "irrigatingDurationMorning": {
          "type": "integer"
        },
        "irrigatingDurationEvening": {
          "type": "integer"
        }
      }
    },
    "DayTime": {
      "type": "object",
      "properties": {
        "hour": {
          "type": "integer"
        },
        "minute": {
          "type": "integer"
        },
        "second": {
          "type": "integer"
        }
      }
    }
  }
}